<%= @user.name %>'s Profile Page

<h2>Created Events</h2>
<ul>
<% @user.created_events.each do |event| %>
  <li><%= link_to event.title, event %> - <%= event.description %></li>
<% end %>
</ul>

<h2>Previously attended events</h2>
<ul>
  <% @attending_events.where('date <= ?', Date.today).order('date desc').each do |attending_event| %>
  <li>
    <%= attending_event.date.strftime("%d/%d/%Y") %> - 
    <%= link_to attending_event.title, attending_event %>
      - <%= attending_event.description %>
  </li>
  <% end %>
</ul>

<h2>Upcoming Events</h2>
<ul>
  <% @attending_events.where('date > ?', Date.today).order(:date).each do |attending_event| %>
  <li>
    <%= attending_event.date.strftime("%d/%d/%Y") %> - 
    <%= link_to attending_event.title, attending_event %>
      - <%= attending_event.description %>
  </li>
  <% end %>
</ul>

