<h1><%= @event.title %></h1>
<p>Created by <%= link_to @event.creator.name, @event.creator %></p>

<h2>Attendees</h2>
<ul>
  <% @event.attendees.accepted.each do |attendee| %>
    <li><%= link_to attendee.name, attendee %></li>
  <% end %>
</ul>

<h2>Pending invite</h2>
<ul>
  <% @event.attendees.pending.each do |attendee| %>
    <li><%= link_to attendee.name, attendee %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Attend event', event_attend_path(@event), method: :post%>
  <%= link_to 'Invite to event', event_invite_path(@event) %>
<% end %>
